<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>About Deep Fake Detection</h1>
    <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/services">Services</a>
    <a href="/prediction">Predict</a>
    <a href="/contact">Contact</a>
    </nav>
</header>

<section class="hero">
    <h2>About Our Project</h2>

    <p>
        This project uses a Convolutional Neural Network (CNN) model to detect
        whether an uploaded image is Real or Fake.
    </p>

    <p>
        It is developed using Python, Flask, TensorFlow, HTML and CSS.
    </p>

    <p>
        The aim of this project is to help identify manipulated images using Artificial Intelligence.
    </p>
</section>

<footer>
    <p>© 2026 Deep Fake Detection System</p>
</footer>

</body>
</html>